h1 {
    text-align: center;
}

.gameboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    height: 450px;
    width: 450px;
    background-color: rgb(134, 193, 175);
    border: solid;
    border-radius: 30px;
    padding: 2%;
}


.grid-item {
    background-color: rgb(182, 216, 205);
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 50%;
    margin: 2%;
}

.grid-item:hover {
    background-color: aqua;
}

.players {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

.is-turn {
    border: solid;
    padding: 1%;
    border-radius: 50%;
}


.reset-btn {
    height: 50px;
    display: flex;
    margin: auto;
    align-items: center;
}
.hidden {
    display: none;
}

@media screen and (max-width: 500px){
    .gameboard {
        height: 200px;
        width: 200px;
    }
}